<div class="title"><h1>SpaceX Launches</h1></div>
<div>
  <table mat-table matSort matSortDirection="asc" [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

    <ng-container matColumnDef="flight_number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="launch"> Flight Number </th>
      <td mat-cell *matCellDef="let launch"> {{launch.flight_number}} </td>
    </ng-container>

    <!-- Launch Year Column -->
    <ng-container matColumnDef="launch_year">
      <th mat-header-cell *matHeaderCellDef class="launch"> Launch Year </th>
      <td mat-cell *matCellDef="let launch"> {{launch.launch_year}} </td>
    </ng-container>

    <!-- Rocket Name Column-->
    <ng-container matColumnDef="rocket_name">
      <th mat-header-cell *matHeaderCellDef> Rocket Name </th>
      <td mat-cell *matCellDef="let launch"> {{launch.rocket.rocket_name}} </td>
    </ng-container>

    <!-- Details Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let launch"> {{launch.details}} </td>
    </ng-container>

    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let launch">
        <button mat-icon-button aria-label="expand row" (click)="(launchLinks = launchLinks === launch ? null : launch); $event.stopPropagation()">
          @if (launchLinks === launch) {
            <mat-icon >keyboard_arrow_up</mat-icon>
          } @else {
            <mat-icon>keyboard_arrow_down</mat-icon>
          }
        </button>
      </td>
    </ng-container>

     <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let launch" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="launch-detail"
           [@detailExpand]="launch == launchLinks ? 'expanded' : 'collapsed'">
        <div class="launch-links">
          @if(launch.links.reddit_campaign != null){<li><a href="{{launch.links.reddit_campaign}}">Reddit Campaign</a></li>}
          @if(launch.links.reddit_launch != null){<li><a href="{{launch.links.reddit_launch}}">Reddit Launch</a></li>}
          @if(launch.links.reddit_media != null){<li><a href="{{launch.links.reddit_media}}">Reddit Media</a></li>}
          @if(launch.links.presskit != null){<li><a href="{{launch.links.presskit}}">SpaceX Presskit</a></li>}
          @if(launch.links.article_link != null){<li><a href="{{launch.links.article_link}}">Article</a></li>}
          @if(launch.links.wikipedia != null){<li><a href="{{launch.links.wikipedia}}">Wikipedia Page</a></li>}
          @if(launch.links.video_link != null){<li><a href="{{launch.links.video_link}}">Launch Video</a></li>}
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let launch; columns: columnsToDisplayWithExpand;"
      class="launch-row"
      [class.expanded-row]="launchLinks === launch"
      (click)="launchLinks = launchLinks === launch ? null : launch">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    
  </table>

  <!-- Adds pagination at bottom of table -->

  <mat-paginator [pageSize]="25" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons aria-label="Select Page"></mat-paginator>

  </div>